on:
  release:
    types:
      - published

name: release

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Used to sign the artifacts.
      contents: write # Used to attach signing artifacts to the release.

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: sign
        uses: ./
        id: sigstore-python
        with:
          inputs: action.yml action.py
