name: Scheduled self-test

on:
  schedule:
    - cron: "0 12 * * *" # Every day at 1200 UTC

permissions: {}

jobs:
  run-selftests:
    permissions:
      id-token: write # for OIDC in selftest

    uses: ./.github/workflows/selftest.yml
  open-issue:
    permissions:
      issues: write # for opening the issue

    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs: run-selftests

    steps:
      - name: Generate issue text
        run: |
          cat <<- EOF >/tmp/issue.md
          ## Self-test failure

          A scheduled test of the workflow has failed.

          This suggests one of three conditions:
          * A backwards-incompatible change in a Sigstore component;
          * A regression in \`gh-action-sigstore-python\`;
          * A transient error.

          The full CI failure can be found here:

          ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/$GITHUB_RUN_ID
          EOF

      - name: Open issue
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6.0.0
        with:
          title: "[CI] Self-test failure"
          # created in the previous step
          content-filepath: /tmp/issue.md
          labels: bug
          assignees: woodruffw
